.errorCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 200px;
  border-radius: 8px;
  color: white;
  background-image: url('/public/img/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 50px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}

.error-component {
  text-align: center;
  animation: shake 0.5s ease infinite;
}

.error-component h1 {
  font-size: 48px;
  color: #ff0000;
}

.error-component p {
  font-size: 24px;
}